header {
  height:200px;
  background-color:#444;
  z-index: 2;
}

.left {
  height:800px;
  width:150px;
  float:left;
  background-color: #ddd;
  z-index:1;
}

.right {
  height:800px;
  width:150px;
  float:right;
  background-color: #ddd;
  z-index:1;
}

main {
  height:710px;
}

footer {
  height:90px;
  background-color: #222;
}
